.login-container{	
	height: 100%;
	width: 100%;
}

.login-container-inner-container{
	width: 100%;
	height: 50%;
	bottom: 25%;
	top: 25%;
	position: relative;
	padding: 20px;
}

.paranthesis{}
.paranthesis::before{
	content: '(';
}
.paranthesis::after{
	content: ')';
}

.mm-button-style{
	border-radius: 1px;
	height: 40px;
    background: #262626;
    color: white;
}
		
.mm-button-style:hover{
	border-radius: 1px;
	height: 40px;
    background: #262626;
    color: white;
}

.mm-header-style{
    background-color: #262626;
    color: white;
    border: none;
    border-radius: 0;
}	
.login-container-inner{	
	background-color: white;
	opacity: 0.9;
}

.login-container-inner input{
	border: none;
	height: 45px;
	outline: 0;
	border-radius: 0;
}

/*.login-container-inner input[type="text"]{
	background-color: rgba(128, 128, 128, 0.11);
}*/

.login-container-inner input::-webkit-input-placeholder{
	color: #c4cac4;
	font-size: 16px;
}

.login-container-inner input{
	border-bottom: 1px solid;
	border-bottom-color: rgba(128, 128, 128, 0.11);
    box-shadow: none;
    webkit-box-shadow: none;

    color: #526d52;
    font-weight: bold;
    font-size: 20px;
}

@media(max-width: 749px){
	.login-container-inner{
		height: 50%;
		width: 90%;	
		top: 25%;
		bottom: 25%;
		position: relative;
		left: 5%;
		right: 5%;
	}
}

@media(min-width: 750px){
	.login-container-inner{
		height: 40%;
		width: 50%;
		top: 30%;
    	bottom: 30%;
    	position: relative;
    	left: 25%;
    	right: 25%;
	}
}

.padding-top-20{
	padding-top: 20px;
}

body{
	background-color: #F5F5F5;
}



.validation-error {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  border-bottom-color: #a94442 !important;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Glow */
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.gallery-header-text{
	font-size: 21px;
    letter-spacing: 1px;
}