		body{
				color: #262626;
				font-family: 'Handlee', cursive;
				background-color: #F5F5F5;
				font-size: 16px;
			}
			
			.brand{
				padding: 10px;font-size: 3vh;font-weight: bold;
			}
			
			.brand img{
				width: 50px; 
				height: auto;
			}

			.login-container{
				width: 24%;
				min-height: 50%;
				height: auto;
				background-color: white;
				position: absolute;
				margin: 0;
				left: 38%;
				top: 25%;
				box-shadow: 1px 7px 14px -3px;
			    z-index: 1;
			}
			
			.logo-header{
				height: 20%;background-color: #F5F5F5;
			}

			.parent-login{
				width: 100%;
				height: 100%;
			}

			.login-container .input-group{
				padding: 5px 20px;
			}

			.input-group-addon{
				width: 50px;
			}

			.button-style{
				border-radius: 1px;
				height: 40px;
			    background: #262626;
			    color: white;
			}

			.login-form{
			    position: relative;
			    top: 50%;
			}

			.icon-holder.input-group{				
				display: block;				
			}

			.icon-holder.input-group i{
				padding: 7px;
			}

			.icon-holder .input-group-addon{
				position: absolute;
				z-index: 10;
				height: 45px;
				background: #F5F5F5;
			}

			.icon-holder.input-group input[type="text"], .icon-holder.input-group input[type="password"]{
				padding-left: 60px;
				height: 45px;
				display: block;
			}

			.padding-top10{
				padding-top: 10px;
			}
