<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Bhaji</servlet-name>
  	<display-name>Bhaji</display-name>
  	<description></description>
  	<servlet-class>Bhaji</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>HandleAjaxCall</servlet-name>
  	<display-name>HandleAjaxCall</display-name>
  	<description></description>
  	<servlet-class>HandleAjaxCall</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserSignup</servlet-name>
  	<display-name>UserSignup</display-name>
  	<description></description>
  	<servlet-class>authentications.UserSignup</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VerifyEmail</servlet-name>
  	<display-name>VerifyEmail</display-name>
  	<description></description>
  	<servlet-class>authentications.VerifyEmail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserSignin</servlet-name>
  	<display-name>UserSignin</display-name>
  	<description></description>
  	<servlet-class>authentications.UserSignin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminSigninView</servlet-name>
  	<display-name>AdminSigninView</display-name>
  	<description></description>
  	<servlet-class>authentications.admin.AdminSigninView</servlet-class>
  </servlet>
    <servlet>
  	<servlet-name>HomePage</servlet-name>
  	<display-name>HomePage</display-name>
  	<description></description>
  	<servlet-class>userControllers.HomePage</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>AdminSignin</servlet-name>
  	<display-name>AdminSignin</display-name>
  	<description></description>
  	<servlet-class>authentications.admin.AdminSignin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateCollege</servlet-name>
  	<display-name>CreateCollege</display-name>
  	<description></description>
  	<servlet-class>admin.CreateCollege</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateBranches</servlet-name>
  	<display-name>CreateBranches</display-name>
  	<description></description>
  	<servlet-class>admin.CreateBranches</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetAllRequiredDataForEvents</servlet-name>
  	<display-name>GetAllRequiredDataForEvents</display-name>
  	<description></description>
  	<servlet-class>admin.GetAllRequiredDataForEvents</servlet-class>
  </servlet>
    <servlet>
  	<servlet-name>CreateEvents</servlet-name>
  	<display-name>CreateEvents</display-name>
  	<description></description>
  	<servlet-class>admin.CreateEvents</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>CreateBranch</servlet-name>
  	<display-name>CreateBranch</display-name>
  	<description></description>
  	<servlet-class>admin.CreateBranch</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Bhaji</servlet-name>
  	<url-pattern>/Bhaji</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HandleAjaxCall</servlet-name>
  	<url-pattern>/HandleAjaxCall</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserSignup</servlet-name>
  	<url-pattern>/UserSignup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VerifyEmail</servlet-name>
  	<url-pattern>/VerifyEmail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserSignin</servlet-name>
  	<url-pattern>/UserSignin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminSigninView</servlet-name>
  	<url-pattern>/AdminSigninView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomePage</servlet-name>
  	<url-pattern>/HomePage</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>AdminSignin</servlet-name>
  	<url-pattern>/AdminSignin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateCollege</servlet-name>
  	<url-pattern>/CreateCollege</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateBranches</servlet-name>
  	<url-pattern>/CreateBranches</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetAllRequiredDataForEvents</servlet-name>
  	<url-pattern>/GetAllRequiredDataForEvents</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateEvents</servlet-name>
  	<url-pattern>/CreateEvents</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>CreateBranch</servlet-name>
  	<url-pattern>/CreateBranch</url-pattern>
  </servlet-mapping>
  
      <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
<!--     <welcome-file>index.htm</welcome-file> -->
<!--     <welcome-file>default.html</welcome-file> -->
<!--     <welcome-file>default.htm</welcome-file> -->
<!--     <welcome-file>default.jsp</welcome-file> -->
<!--     <welcome-file>UserSignup.html</welcome-file> -->
  </welcome-file-list>
</web-app>
